.header__logo {
  width: 176px;
  height: 52px;
  background-image: url(../../../images/logo/header-logo.svg);
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 768px) {
  .header__logo {
    width: 142px;
    height: 42px;
  }
}
