.detailed__card {
  margin-bottom: 74px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .detailed__card {
    margin-bottom: 60px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detailed__card {
    margin-bottom: 73px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detailed__card {
    margin-bottom: 50px;
  }
}
