.promo__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  cursor: pointer;
  transition: background-color .5s linear;
}

.promo__overlay:hover {
  display: block;
  background-color: rgba(42, 44, 47, 0.8);
  transition: background-color .2s linear;
}
