.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(213px, 1fr));
  gap: 11px 16px;
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .gallery {
    gap: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .gallery {
    gap: 16px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .gallery {
    gap: 12px;
  }
}
