.promo__subtitle {
  max-width: 360px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}

@media (min-width: 320px) and (max-width: 767px) {
  .promo__subtitle {
    max-width: calc(100% - 16px*2);
    font-size: 14px;
    line-height: 1.14;
  }
}
